*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }


  body{
    background: #4d4b4b;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  
  .card{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }

  .card-skills{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }

  .card-icon-cf{
    font-size: 28px;
    background: url('https://i.pinimg.com/originals/c5/d9/fc/c5d9fc1e18bcf039f464c2ab6cfb3eb6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .card-icon-gfg{
    font-size: 28px;
    background: url('https://pbs.twimg.com/profile_images/1304985167476523008/QNHrwL2q.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }

  .card-icon-he {
    font-size: 28px;
    background: url('https://media.cdn.gradconnection.com/uploads/8cda75b2-8384-47be-af0b-6c1d4314bc0a-HACKEREARTH_LOGO.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }

  .card-icon{
    font-size: 28px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .card-icon-w {
    font-size: 28px;
    background: greenyellow;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }

  .card-icon-b {
    font-size: 28px;
    background: blue;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }

  .card-icon-bl {
    font-size: 28px;
    background: black;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }

  .card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
  }
  
  .card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .card:hover p{
    max-height: 40px;
    opacity: 1;
  }
  
  
  @media screen and (max-width:800px) {
    .contact-info{
      flex-direction: column;
    }
    .card{
      width: 100%;
      max-width: 300px;
      margin: 10px 0;
    }
  }
  